body {
background-color: rgb(30, 24, 69);
margin: 0;
  display: flex;
  flex-direction: column; /* Stacks multiple containers vertically */
  align-items: center;    /* Centers containers horizontally */
  justify-content: center; /* Optional: Centers containers vertically */
  min-height: 100vh;      /* Takes up full screen height */
  padding: 0 20px;        /* Guarantees a 20px space on the left/right sides */
  box-sizing: border-box;
}

.AddButton{
    background-color: aqua;
    padding: 8px;
    border-radius: 5px;
}

.expense-list{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(6, 182, 212, 0.3);
    border-radius: 1rem; /* 16px */
    padding: 1.5rem;     /* 24px */
}




